:root {
  --color-bg: #f3f4f9;
  --color-text: #1a1a1a;
  --color-text-secondary: #33373c;
  --color-text-muted: #9a9da4;
  --color-primary: #1952e1;
  --font-family-base: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-family-base);
  margin: 0;
}
